$hospital-green: #07452a;
$white: #ffffff;

.footer {
  background-color: $hospital-green;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 40px;
  &__links {
    display: flex;
    font-size: 12px;
    a {
      text-decoration: none;
      text-align: center;
      color: $white;
      margin-left: 14px;
    }
  }
}

.icon--footer {
  font-size: 2px;
  width: 35px;
  height: 35px;
}
