@import "./pagination-modification.scss";
@import "./global.scss";
@import "./loading.scss";
@import "./footer.scss";

.card-characters {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.card-characters__description {
  color: #1f1d1d;
}

svg.iconSearch {
  fill: #ffffff;
  stroke: #ffffff;
}

.filters {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  color: #cbe9c7f5;
}
h1 {
  padding-left: 15px;
  color: #cbe9c7f5;
}
