@import "./pagination-modification.scss";
@import "./global.scss";
@import "./loading.scss";

.card-characters {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.card-characters__description {
  color: #1f1d1d;
}

.div {
  background-image: url("https://i.ibb.co/MR5TbBp/rick-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
