body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background: #4eb946;
  background: radial-gradient(
    circle,
    rgba(78, 185, 70, 1) 0%,
    rgba(4, 64, 41, 1) 100%
  );
  box-sizing: border-box;
}
.card-characters {
  background: rgb(193, 221, 195);
  background: linear-gradient(
    0deg,
    rgb(181, 255, 166) 0%,
    rgb(174, 207, 124) 100%
  );
}
.card-characters__description {
  color: #1f1d1d;
}
